
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aqua; */
}



section {
    display: flex;
    gap: 20px;
    border-radius: 15px;
    border: 1px red solid;
    padding: 40px;
    
}

section > main {
    flex-basis: 70%;
    background-color: white;
}

section > div {
    flex-basis: 30%;
    background-color: gainsboro;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item > img {
    height: 180px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-family: "Lexend", sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.item_info  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    margin-inline: 5px;
    width: 100px;
}

h4 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img[src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"] {
   border-radius: 15%;
   
}
.minus {
    width: 28px;
    height:28px;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}
.plus {
    width: 28px;
    height:28px;    
    outline: none;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}
input[type="text"][value="0"] {
    width: 45px;
    height: 40px;
    
}
.item_quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price_total_per_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.delete {
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}